@font-face {
  font-family: "Source Code Pro Black";
  src: url('SourceCodePro-Black.otf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro Black", "Consolas", "Courier New", monospace;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.clock {
  width: 100%;
  max-width: 800px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.clock-inner {
  content: '';
  display: block;
  position: absolute;
  padding-bottom: 100%;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#grid {
  font-size: 5vw;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  position: absolute;
  width: 100%;
  height: 100%;
}

.letter {
  color: rgba(255,255,255,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter.active {
  color: white;
}

@media(min-width: 1200px) {
  #grid {
    font-size: 55px;
  }
}